<div class="container">

<p>
  <strong>You are added</strong>
  <!-- <%= @user.team %> -->
</p>

<%= link_to 'Back', welcome_index_path %>
<br />
<%= link_to "Edit your profile", edit_user_path(current_user) %>

<% if current_user.admin? %>
    | <%= link_to "delete", @user, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>

</div>