<div class="container">
<footer class="footer">
  <small>
    <a href="https://github.com/KateKarpenia/ProjectSystem">Project System on GitHub</a>
    by Katerina Karpenia
  </small>
</footer>
</div>
