
<!-- <footer class="panel-footer"> -->

<div class=" navbar navbar-default navbar-fixed-bottom">
      
	<div class="container">
		<div class="navbar-text">
  			<small>
    			<a href="https://github.com/KateKarpenia/ProjectSystem">Project System on GitHub</a>
    			by Katerina Karpenia
  			</small>
  		</div>
<!-- </footer> -->
	</div>
</div>
