<!-- 
<p>
  <strong>User:</strong>
  <%= current_user.first_name %>
</p>
 -->

 <table class = 'table'>
 
 
	<tr>
		<td><%= post.content %></td>
		<td><% if current_user.admin? %>
  				<%= link_to 'Destroy Post', [post.project, post],
               	method: :delete,
               	data: { confirm: 'Are you sure?' } %>
		<% end %></td>
	</tr>
	
</table>





